<div class="gallery-component" ng-controller="GalleryController as gallery" role="main " layout="column">

    <div ng-controller="sidenavWithTbbCtrl" layout="column" ng-cloak>

        <section class="gallerycomponent-content" layout="row" flex>

            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <!-- left sidebar header -->
                <md-toolbar class="pics-app-toolbar-top">
                    <div layout="row" layout-padding>
                        <div>
                            <div class="pics-app-nav-top-left">Current</div>
                            <div class="pics-app-nav-bottom-left">ubrPics</div>
                        </div>
                        <div flex></div>

                        <div class="pics-app-nav-right"><a href="#/pics-app">All</a></div>
                    </div>

                    <div class="pics-left-nav-hr"></div>

                </md-toolbar>

              <md-content layout-padding ng-controller="LeftCtrl">
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                    <!--<p hide-md show-gt-md>-->
                        <!--This sidenav is locked open on your device. To go back to the default behavior,-->
                        <!--narrow your display.-->
                    <!--</p>-->
                  <div class="more-padding-4" hide-md show-gt-md>
                      <div class="left-nav-category-header">
                          Category
                      </div>


                      <ul class="pics-app-ul">

                          <li class="pics-app-li" ng-click="gallery.myFilter = {category:'silicon valley'}">
                              <a href="">Silicon Valley/Tech</a></li>
                          <li class="pics-app-li" ng-click="gallery.myFilter = {category: 'other influencers'}">
                              <a href="">Other Influencers/Icons</a></li>
                          <li class="pics-app-li" ng-click="gallery.myFilter = {category: 'smart locations'}"><a href="">Smart Locations</a></li>
                          <li class="pics-app-li" ng-click="gallery.myFilter = {category: 'cheeky'}"><a href="">Cheeky Options</a></li>
                          <li class="pics-app-li" ng-click="gallery.myFilter = {category: 'featured photographer'}"><a href="">Featured photographers</a></li>
                          <li class="pics-app-li"><a ng-click="mgallery.myFilter = {}">All</a></li>
                          <!--<a href="#/pics-app">Other Influencers & Icons</a>-->
                      </ul>
                  </div>
               </md-content>
            </md-sidenav>

            <md-content class="main-pics-app gallerycomponent-content" flex layout-padding>
                <div layout="column" layout-fill layout-align="top center">
                    <div class="toggle-left">
                        <md-button ng-click="toggleLeft()"
                                   class="md-primary" hide-gt-md>
                            <!--this is where categories can go-->
                            Toggle left Testing
                        </md-button>
                    </div>

                    <div class="pic-app-category-header card-outline" layout="row" layout-margin>

                        <img class="moduleHeaderLogo" ng-src="../images/category-images/{{gallery.myFilter.category | underscore_join}}_cat.png" alt=""/>


                        <!--<img src="../images-1/hero-media-image/g-campus-1.jpg" alt=""/>-->
                        <div class="moduleHeaderTitle-el">{{gallery.myFilter.category | capitalize}}  Options</div>
                        <div flex></div>

                    </div>


                    <div class="gallerycomponent-content" layout="row" layout-wrap layout-margin>


                        <div ng-repeat="pic in gallery.picsList" class="profile-pic-card">

                            <div>
                                <div class="ppc-image-container">
                                    <a ui-sref="picDetails({picsId:pic.picsId})">
                                        <img ng-src="{{pic.profileImage}}" alt=""/>
                                    </a>
                                    <div class="littleimg">
                                        <img src="{{pic.littleImage}}" alt=""/>
                                    </div>
                                </div>

                                <div>

                                    <div class="ppc-headlineText">
                                        {{pic.name}}
                                    </div>

                                    <div class="ppc-subheadText">
                                        {{pic.description}}
                                    </div>

                                    <div class="ppc-price-more" layout="row">
                                        <div class="ppc-price">
                                            $99
                                        </div>
                                        <div flex></div>
                                        <a href="#/photo-detail/{{pic.picsId}}" class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                                        </a>


                                    </div>
                                </div>



                            </div>



                        </div>
                    </div>


                    <!--<div>-->
                    <!--<md-button ng-click="toggleRight()"-->
                    <!--class="md-primary">-->
                    <!--Toggle right-->
                    <!--</md-button>-->
                    <!--</div>-->
                </div>
                <div flex></div>
            </md-content>

        </section>

    </div>
</div>