
/* split Hero CSS*/

.tabcordiamh4 {color:#444;}

.hero-img-for-individuals {
    background-image: url('../imgs/hero-745-624.png');
    /*background-image: url('../../images-1/for-ind-hero-deep.jpg');*/
}
.services-types {
    text-align:right;
}
.services-types-link {
    font-size: 16px;

}
a.services-types-link:hover{
    text-decoration: underline;
}


.h3-deep-hero {
    margin-bottom: 0;
}


/*tabs cordian section*/

#tab-content-0 md-content, #tab-content-1 md-content {
    border-bottom: #c2c2c2 1px solid;
    padding: 10px 30px 40px 20px;
}

.button-tc, a.button-tc {
    background: #00c853;
    border: none;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 16px;
    height: 48px;
    letter-spacing: .5px;
    line-height: 48px;
    padding: 0 24px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}


.tabcordion-header {
    border: none;
    /*color: #d4d4d4;*/
    padding: 10px 15px;
    /*border-bottom: #c2c2c2 1px solid;*/
    cursor: pointer;
    font-weight: 500;
    /*padding: 14px 30px 14px 20px;*/
    position: relative;
    text-transform: uppercase;
}
.for-i md-content {
/*background: #f6f6f6;*/
}
.for-i md-tab-item:not(:last-child) {
    border-right: solid 1px #d4d4d4;
}
.for-i .md-tab {
     padding: 12px 10px;
}

.for-i .tabcordian-icon {
  margin-right: 15px;
}

.for-i md-tabs-wrapper {
    padding: 30px 35px 30px 10px;
}

.for-i md-tabs-canvas, .for-i .md-tab {
    height:80px;
}

.for-i md-pagination-wrapper {
    height: 80px;
}
.for-i md-tab-item:first-child {
    padding-left: 0px;
}
.font-medium-ind {
    line-height: 24px;
    font-size: 14px;
}
.tabcordian-icon {
    margin-right:20px;
    color: #00bfa5;
    font-size:28px;
}

.for-i md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
    color: #444;
}

.for-i md-tabs md-ink-bar {
    color: #00bfa5;
    background: #00bfa5;
}

   /*tabscordian*/
    .for-ind-tabscordian {
        margin-top: 50px;
    }

    #tab-content-0 md-content, #tab-content-1 md-content  {
        padding: 45px 0 0;
    }

    .section-hero-copy-for-ind {
        padding: 40px 0 80px;
    }
    .section-sub-header-for-ind {

         margin-bottom: 20px;
         padding-bottom:0;

    }
