<div class="for-individuals-view" role="main " layout="column">


    <!--section end of hero sec.-->
    <section class="section section-hero">

        <div class="site-width">
            <div layout="row">
                <div flex offset-gt-sm="60">
                    <div class="section-hero-copy">
                        <h1 class="section-hero-h1">Benefiting Your <br>
                          Group
                            </h1>

                        <p class="font-large">Ubrpics group incentives will help you fund your group or  let you provide your members with the direct discount.</p>

                        <!-- <p><a href="">
                            <md-button class="md-raised md-f4f4f4">Call to
                                Action
                            </md-button>
                        </a></p> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="section-hero-media">
            <div class="hero-image-groups hero-img-groups">
            </div>

        </div>

        <div class="myfab" layout="row" layout-align="center center">
            <md-button class="md-fab myfab" aria-label="Eat cake">
                <!--<md-icon md-svg-src="img/icons/cake.svg"></md-icon>-->
                <svg class="icon-fab-scroll" enable-background=
                        "new 0 0 32 32" height="14px" version="1.1" viewbox="0 0 32 32" width="14px" x="5px"
        xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=
                        "http://www.w3.org/1999/xlink" y="0px">
        <polygon points="28.2,6.1 16,18.3 3.8,6.1 0,9.9 16,25.9 32,9.9"></polygon></svg>
            </md-button>
        </div>

    </section>

    <!-- Quote section had quotation-extra as a .... -->
    <section class="section-ga section-benefits">
        <div class="site-width">
        <div layout="row" class="">
<div flex="70" class="">
<h4 class="section-sub-heading border-deep-teal">
    How Group Incentives Work
</h4>
    <h2>
       Choose the incentive type that works for your group.
    </h2>
    <p class="font-large">
        We two distinct services and incentive types. We offer them on both the pre-crafted Silicon Valley & Tech inspired pics  <a href="#/for-individuals">service</a> available in the <a href="#">gallery</a> as well with the <a href="#">custom services</a>. To set up the group incentive just give us a <a href="#/contact">call</a> or <a href="#">send</a> us a message.
    </p>
</div>
        </div>
            <!--how it works component-->
            <div ng-cloak>
                <div>
                    <div class="for-g">
                        <md-content class="md-padding">
                            <md-tabs md-dynamic-height>
                                <md-tab id="tab1">
                                    <md-tab-label><div class="tabcordion-header font-medium"><span class="tabcordian-icon"><i class="fa fa-calendar"></i></span>Group Fund Payment</div></md-tab-label>
                                    <md-tab-body>

                                        <div  layout="row"><div  flex="70">
                                          <h3>Get Smart Pics & Fund Your Group</h3>
                                          <p>One of the ways that we work with groups, is providing a unique incetive called the <b>Group Fund Payment</b>. It works by setting aside an amount equivalent to 10% of the service or purchase price any time a person in the group gets an Ubrpic. The amount will accrue and the accrued amount will periodically will be sent to an account related to the group that you specify. The idea and hope is that you can use this to help fund group activities and/or group events.</p> There are two ways that this can work:
                                            <ol><li><b>Individual Appointments</b>: In other words, Ubrpics will provide the group leader with unique group code. And whenever a member once the sign up for one of the Ubrpics services(Calendered Session, Flexi Appointment, Custom)  they can use the unique code provided at the time of purchase and it will register to set aside for the group fund</li>
                                                <br/>
                                            <li>
                                                <b>Event Style Services</b>: If the group wants to take advantage of an event style service, where we provide service for multiple group members at the same time. We can easily apply the group code for each individual that get pics at the event.
                                            </li>
                                            </ol>
</div></div>
                                    </md-tab-body>
                                </md-tab>

                                <!--beginning of tab 2-->

                                <md-tab id="tab2">
                                    <md-tab-label><div class="tabcordion-header font-medium"><span class="tabcordian-icon"><i class="fa fa-check-square-o"></i></span>Group Member Direct Discount</div></md-tab-label>
                                    <md-tab-body>
                                        <div layout="row"><div flex="70">
                                          <h3>Get Smart Pics & Direct Discounts</h3>
                                          <p>
                                            Another way we can work with groups, is a little more traditional and that we provide a Group Member Direct Discount. It works by providing the group leader or person who runs the group a unique group code  for members to apply at the time of purchase or to be used in bulk at an event, and instead 10% being applied to a group fund, it will be applied directly to the total at the time of purchase.
                                          </p>
                                          <!-- <p>Another option is that we can come to you. So instead of having individual group members sign-up for a profile pic service. We can put together a event where you have multiple setups available and where people can get profile pic at the event</p> -->
                                          There are two ways that this can work:
                                            <ol><li><b>Individual Appointments</b>: In other words, Ubrpics will provide the group leader with unique group code. And whenever a member once the sign up for one of the Ubrpics services(Calendered Session, Flexi Appointment, Custom)  they can use the unique code provided at the time of purchase and it will register to set aside for the group fund</li>
                                                <br/>
                                            <li>
                                                <b>Event Style Services</b>: If the group wants to take advantage of an event style service, where we provide service for multiple group members at the same time. We can easily apply the group code for each individual that get pics at the event.
                                            </li>
                                            </ol>
                                        </div></div>

                                    </md-tab-body>
                                </md-tab>

                            </md-tabs>
                        </md-content>



                    </div>
                </div>
            </div>
            <!-- end how it works tabs -->
        </div>
    </section>
    <!-- end of section benefits -->


    <section></section>
    <section></section>
</div>
