<div class="for-individuals-view" role="main " layout="column">

    <!-- Hero -->
    <section class="section section-hero">

        <div class="site-width">
            <div layout="row">
                <div flex offset-gt-sm="60">
                    <div class="section-hero-copy">
                        <h1 class="section-hero-h1">Smart, Inspired, Affordable Pics</h1>
                        <p class="font-large">No matter who you are — a freelancer, teacher, lawyer, corporate or trade professional, entrepreneur, working for a nonprofit —  we are always looking for new opportunities. Ubrpics will help empower your journey.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-hero-media">
            <div class="hero-image hero-img-for-individuals">
            </div>
            <div class="card caption aaa">
                <p class="name font-medim">name of the person</p>

                <p class="role font-small"></p>
            </div>
        </div>

        <div class="myfab" layout="row" layout-align="center center">
            <md-button class="md-fab myfab" aria-label="Eat cake">
                <!--<md-icon md-svg-src="img/icons/cake.svg"></md-icon>-->
                <svg class="icon-fab-scroll" enable-background=
                        "new 0 0 32 32" height="14px" version="1.1" viewbox="0 0 32 32" width="14px" x="5px"
        xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=
                        "http://www.w3.org/1999/xlink" y="0px">
        <polygon points="28.2,6.1 16,18.3 3.8,6.1 0,9.9 16,25.9 32,9.9"></polygon></svg>
            </md-button>
        </div>

    </section>
    <!--section end of hero sec.-->


<!--beginning of section benefits-->
    <section class="section-ga section-benefits">
        <div class="site-width">
        <div layout="row" class="">
          <div flex="70" class="">
            <h4 class="section-sub-heading border-deep-teal">
              Silicon Valley Service Options
            </h4>
            <h2>
        Three Distinct Options
          </h2>
          <p class="font-large">
        We offer three distinct service options for our Silicon Valley Inspired Pics. One that maximizes affordability in Calendered Sessions. One that focuses more on added convenience with Flex Appointments. And if you want to hold social or work event there is the Event Style option.
          </p>
        </div>
      </div>

      <!--how it works component-->
      <div ng-cloak>
          <div>
              <div class="for-i">
                  <md-content class="md-padding">
                      <md-tabs md-dynamic-height>
                          <md-tab id="tab1" class="ind-tab">
                              <md-tab-label><div class="tabcordion-header font-medium-ind"><span class="tabcordian-icon"><i class="fa fa-calendar"></i></span>Calendar Sessions</div></md-tab-label>
                              <md-tab-body>

                                  <div layout="row">
                                    <div flex="70">
                                      <h3>Affordable, High Production Value, & Inspired</h3>
                                    <p>The calendared session is an option that aims to maximize quality, inspiration, & affordability. </p>
                                    <h4>What are calendared sessions?</h4>
                                    <p>
                                      Calendared sessions are fixed windows of time that we set aside during the week in which we offer fixed amount of slots or openings.  the benefit to the individual customer who signs up for a calendar session is that they get charged a less-expensive group rate.
                                    </p>
                                    <h4>How can you sign up for a calendar session?</h4>
                                    <p>
                                      Calendar sessions are offered for any of the Silicon Valley / Tech inspired pics included in the gallery. When choosing a particular pic offering there will be a calendar on the sign up portion of the page. The dates that are scheduled for a calendared session will be highlighted in green. When you choose 1 of those days it will then offer times that are open. Select the time that works for you and is open. Then proceed to click the button <b>Book Now</b>.
                                    </p>
                                  </div>
                                </div>
                              </md-tab-body>
                          </md-tab>

                          <!--beginning of tab 2-->

                          <md-tab id="tab2" class="ind-tab">
                              <md-tab-label><div class="tabcordion-header font-medium-ind"><span class="tabcordian-icon"><i class="fa fa-check-square-o"></i></span>Flex Appointments</div></md-tab-label>
                              <md-tab-body>
                                  <div layout="row"><div flex="70">
                                    <h3>Additional & More Flexible Times For People Need it</h3>
                                    <h4>What Are Flex Appointments?</h4>
                                    <p>The flex appointment is an option that aims to provide more times more flexibility for people cannot make the calendared sessions. In addition to the more times during the week that you can sign up, we also provide some additional extra session time for the personwhich may provide for extra pose or some slight variation to the offering</p>
                                    <h4>How Can You Sign Up For A Flex Appointment?</h4>
                                    <p>
                                    Flex appointments are offered for any of the silicon valley tv tech inspired pics included in the gallery. When choosing a particular pic offering there will be a calendar. Days that we are open for flex appointments will be highlighted in blue, as well as, in most cases there will be some additional flexible appointments times offered in the days highlighted in green(days with calendared sessions). When you choose one of those days it will then offer times  that you may choose for a flex appointment. Select the time that works for you and is open. Then proceed to click the button <b>Book Now</b>.
                                    </p>
                                  </div></div>

                              </md-tab-body>
                          </md-tab>
                          <md-tab id="tab3" class="ind-tab">
                              <md-tab-label><div class="tabcordion-header font-medium-ind"><span class="tabcordian-icon"><i class="fa fa-star-half-o"></i></span>Event Style</div></md-tab-label>
                              <md-tab-body>
                                  <div layout="row"><div flex="70"> <p>Explaining or providing the distinct options here does not mean your learned to use only one. For example having a group event and also being supplied group of unique codes is a fine alternative. So any type of combination of incentives that we offer. we be more than happy to accommodate.</p>
                                      <a class="button-tc" href="#">Contact Us</a>
                                  </div></div>

                              </md-tab-body>
                          </md-tab>
                      </md-tabs>
                  </md-content>



              </div>
          </div>
      </div>
      <!-- end how it works tabs -->











            <!--&lt;!&ndash;how it works component&ndash;&gt;-->
            <!--<div class="for-ind-tabscordian" ng-cloak>-->

                <!--<md-content>-->
                    <!--<md-tabs md-dynamic-height md-border-bottom>-->

                        <!--<md-tab label="Calendered Sessions">-->
                            <!---->
                            <!--<md-content class="md-padding">-->
                                <!--<div layout="row">-->
                                    <!--<div flex="70">-->
                                <!--<h3 class="">Calendered Sessions</h3>-->
                                <!--<p>Calendar sessions are a days or other limited period of times during the week that we make plans to be open and to have multiple pre-crafted production setups from our gallery available. We do this as one part to optimize affordability for the individual customers</p>-->
                                        <!--<h4 class="tabcordiamh4">How to sign up for calendared sessions.</h4>-->
                                        <!--<p>To sign up for calendar sessions you only need to go to the profile pic details page. There is a drop-down menu that will indicate the calendar session times that are open. Just choose Time that best works for you. Once you've done that click book now button.</p>-->
                                        <!--<h4 class="tabcordiamh4">Dynamic countered session times</h4>-->
                                        <!--<p>Encountered session times may change from week to week to keep people up to date an to notify our latest calendar session schedules we use social media apps like Twitter to broadcast do Them. You may also sign up to our email List to get it that way as well.</p>-->
                                    <!--</div>-->
                                    <!--</div>-->
                            <!--</md-content>-->

                        <!--</md-tab>-->

                        <!--<md-tab label="Flex Appointments">-->
                            <!--<md-content class="md-padding ganalytics-font">-->
                                <!--<div layout="row">-->
                                    <!--<div flex="70">-->
                                <!--<h3 class="">Flex Appointments</h3>-->

                                        <!--<p>Flex appointments is another way to book or get a profile pics -  specifically the pre-crafted and inspired work since Silicon Valley tech inspired pics that we offer. With flex appointments people can book the pre-crafted inspired profile pics from our gallery outside of the calendar session time. A time that is more convenient to you.</p>-->
                                        <!--<h4 class="tabcordiamh4">How to sign up for flex appointment</h4>-->
                                        <!--<p>To sign up for flux appointment go to the pick details page; choose the flex appointment drop-down list choose a time. You may also call or email us directly in order to schedule or book the flex appointment.</p>-->


                                    <!--</div>-->
                                    <!--</div>-->
                            <!--</md-content>-->
                        <!--</md-tab>-->
                        <!--<md-tab label="three">-->
                            <!--<md-content class="md-padding">-->
                                <!--<h1 class="md-display-2">Tab Three</h1>-->
                                <!--<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>-->
                            <!--</md-content>-->
                        <!--</md-tab>-->
                    <!--</md-tabs>-->
                <!--</md-content>-->
            <!--</div>-->
            <!--&lt;!&ndash; end how it works tabs &ndash;&gt;-->
        </div>
    </section>
    <!-- end of section benefits -->


    <section></section>
    <section></section>
</div>
