<div class="landing-view" role="main " layout="column">
    <!-- Hero -->
    <section class="section section-hero">

        <div class="site-width">
            <div layout="row">
                <div flex offset-gt-sm="60">
                    <div class="section-hero-copy">
                        <h1 class="section-hero-h1">Silicon Valleyfi your profile pics.</h1>
                        <p class="font-large">Helping make it easier to get smart empowering pics to use online in order to supercharge your networking potential</p>
                        <p><a href=""><md-button class="md-raised md-f4f4f4">Call to Action</md-button></a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-hero-media">
            <div class="hero-image hero-img">
            </div>
            <div class="card caption aaa">
                <p class="name font-medim">name of the person</p>
                <p class="role font-small"></p>
            </div>
        </div>

        <div class="myfab" layout="row" layout-align="center center">
            <md-button class="md-fab myfab" aria-label="Eat cake">
                <!--<md-icon md-svg-src="img/icons/cake.svg"></md-icon>-->
                <svg class="icon-fab-scroll" enable-background=
                        "new 0 0 32 32" height="14px" version="1.1" viewbox="0 0 32 32" width="14px" x="5px"
        xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=
                        "http://www.w3.org/1999/xlink" y="0px">
        <polygon points="28.2,6.1 16,18.3 3.8,6.1 0,9.9 16,25.9 32,9.9"></polygon></svg>
            </md-button>
        </div>

    </section>

    <!-- Quote section had quotation-extra as a .... -->

    <section class="section2 section-quote eeebg quotation google-blue">
        <div class="site-width">
            <blockquote class="fontwhite">
                In the past, most first impressions were formed often with a handshake. But now, your digital identity has just become your first impression and has all the power to engage or dissuade.
            </blockquote>
            <cite class="font-medium">
                <strong>Quote Author</strong>, Author's Postion, Company
            </cite>
        </div>
    </section>

    <section></section>
    <section></section>
    <section></section>
</div>