<div class="landing-view" role="main " layout="column">

<!-- Hero -->
<section class="section section-hero">

    <div class="site-width">
        <div layout="row">
            <div flex offset-gt-sm="60">
                <div class="section-hero-copy">
                    <h1 class="section-hero-h1">Silicon Valleyfi your
                        profile pics.</h1>

                    <p class="font-large">Helping make it easier to get
                        smart empowering pics to use online in order to
                        maximize your networking potential</p>

                    <p><a href="">
                        <md-button class="md-raised md-00c853">How it works
                        </md-button>
                    </a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="section-hero-media">
        <div class="hero-image hero-img">
        </div>
        <!--<div class="card caption aaa">-->
            <!--<p class="name font-medim">name of the person</p>-->

            <!--<p class="role font-small"></p>-->
        <!--</div>-->
    </div>

    <div class="myfab" layout="row" layout-align="center center">
        <md-button class="md-fab myfab" aria-label="Eat cake">
            <!--<md-icon md-svg-src="img/icons/cake.svg"></md-icon>-->
            <svg class="icon-fab-scroll" enable-background=
                    "new 0 0 32 32" height="14px" version="1.1" viewbox="0 0 32 32" width="14px" x="5px"
        xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=
                    "http://www.w3.org/1999/xlink" y="0px">
        <polygon points="28.2,6.1 16,18.3 3.8,6.1 0,9.9 16,25.9 32,9.9"></polygon></svg>
        </md-button>
    </div>

</section>
<!--section end of hero sec.-->


<!-- Quote section had quotation-extra as a .... -->
<section class="section2 section-quote eeebg quotation google-blue">
    <div class="site-width">
        <blockquote class="fontwhite">
            In the past, most first impressions were formed often with a
            handshake. But now, your digital identity has just become your
            first impression and has all the power to engage or dissuade.
        </blockquote>
        <cite class="font-medium">
            <strong>Quote Author</strong>, Author's Postion, Company
        </cite>
    </div>
</section>
<!--the end of quote section-->

<!--key product–Core product–key target market-product-->
<section class="section-enterprise">


    <div class="site-width core–cards">


        <div layout="row" flex>

            <div layout="column" flex="50">

                <div layout="row">
                    <div layout="column">


                        <h4 class="section-sub-heading border-yellow">Core
                            Offering</h4>

                        <h2>Silicon Valley Inspired Pics</h2>

                        <p class="font-large">Supercharge your online
                            profile
                            with
                            pics inspired by the Silicon Valley Icons &
                            Influencers </p>

                        <p><a href="">
                            <md-button class="md-raised md-00c853">Current Gallery
                            </md-button>
                        </a></p>

                      </div>

                    </div>

                  <div class="" layout="row">
                    <div layout="column">
                    <h4 class="section-sub-sub-heading">How It Works </h4>
                  </div>
                  </div>
                <div layout="column" class="core-cards" layout-padding>

                    <div layout="column" flex="100"
                         class="core-card core-card-related core-card-light-gray">



                        <a class="core-card-inner" href="#">
                          <div layout="row">
                            <div class="" flex="15">


                            <img class="product-logo"
                                 src="http://placehold.it/30x30"/>
                               </div>
                            <div flex="80"class="">
                              <h4 class="h4-vert-core">Calendared Sessions</h4>
                              <p class="last p-vert-core">The calendared session is an option that aims to maximize quality, inspiration, & affordability</p>
                            </div>
                          </div>

                            <!-- <img class="icon-arrow-related"
                                 src="http://placehold.it/15x15"/> -->
                        </a>

                    </div>

                    <div layout="column" flex="100"
                         class="core-card core-card-related core-card-light-gray">
                        <a class="core-card-inner" href="#">
                          <div layout="row">
                            <div class="" flex="15">
                            <img class="product-logo"
                                 src="http://placehold.it/30x30"/>
                               </div>
                           <div class="" flex="80">
                            <h4 class="h4-vert-core">Flexi Appointments</h4>
                            <p class="last p-vert-core">The flex appointment is an option that aims to provide more times more flexibility...</p>
                            </div>
                          </div>

                            <!-- <img class="icon-arrow-related"
                                 src="http://placehold.it/15x15"/> -->
                        </a>

                    </div>

                    <div layout="column" flex="100"
                         class="core-card core-card-related core-card-light-gray">
                        <a class="core-card-inner" href="#">
                          <div layout="row">
                            <div class="" flex="15">
                            <img class="product-logo"
                                 src="http://placehold.it/30x30"/>
                            </div>
                            <div class="" flex="80">
                              <h4 class="h4-vert-core">Event Style</h4>
                              <p class="last p-vert-core">The event style is an option servicing people having a special or a group event.</p>
                            </div>
                          </div>

                            <!-- <img class="icon-arrow-related"
                                 src="http://placehold.it/15x15"/> -->
                        </a>

                    </div>

                </div> <!-- card row -->


            </div>







            <div layout="column" flex="10"></div>

            <div layout="column" flex="40">
                <picture>
                    <source media="(min-width:768px)"
                            srcset="../images-1/ga-ipad-1.png"/>
                    <img alt="" class="device-animation"
                         data-class-name='device-animation'
                         data-rs-active='enterpriseAnimation'
                         data-rs-trigger-class='device-animation' srcset=
                            "data:image/jpg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAICAgICAgICAgIDAgICAwQDAgIDBAUEBAQEBAUGBQUFBQUFBgYHBwgHBwYJCQoKCQkMDAwMDAwMDAwMDAwMDAz/2wBDAQMDAwUEBQkGBgkNCgkKDQ8ODg4ODw8MDAwMDA8PDAwMDAwMDwwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAACAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACf/EABQQAQAAAAAAAAAAAAAAAAAAAAD/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AfwH/2Q==">
                </picture>
                <!--<img src="http://placehold.it/756x551"/>-->
                <div layout="row" class="personal-services-row"
                     layout-align="center end" layout-fill>
                    <div class="enterprise-personalised-services">
                        <a class="personal-services-link" href="#">Or,
                            Custom/Persolized Services</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
<!--key and the core product end-->
<!-- Core or key product number two : custom/personalized -->


<section class="light-gray section-ga">
    <div class="site-width core–cards">
        <div layout="row" flex>

            <div layout="column" flex="50">
                <div layout="row" flex>
                    <div layout="column" flex>


                        <h4 class="section-sub-heading border-yellow">Custom |
                            Personalized Services</h4>

                        <h2>Beyond the pre-crafted options.</h2>

                        <p class="font-large">Want something more custom and different from the pre-crafted options in
                            the gallery? *Give us a call or drop us a note with
                            the contact link below*</p>

                        <!-- <p><a href="">
                            <md-button class="md-raised md-f4f4f4">Contact us
                            </md-button>
                        </a></p> -->
                        <p class="font-large">
               <a class="link-more" data-g-action="AA: Register For Free" data-g-event="Home"
               data-g-label="Become An Analytics Pro" href=
               "#/custom-services" target="moreinfo">More information
               <svg class="icon-arrow-more" enable-background="new 0 0 32 32" height="14px"
               version="1.1" viewbox="0 0 32 32" width="14px" x="0px" xml:space="preserve" xmlns=
               "http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
               <path d=
               "M16,0C7.2,0,0,7.2,0,16s7.2,16,16,16c8.8,0,16-7.2,16-16S24.8,0,16,0 M16,25.7L14.3,24l6.8-6.8H7v-2.4h14.1L14.3,8L16,6.3 l9.7,9.7L16,25.7z">
               </path></svg></a>
             </p>


                    </div>

                </div>

            </div>
            <div layout="column" flex="10"></div>

            <div layout="column" flex="40">
                <picture>
                    <source media="(min-width:768px)"
                            srcset="../images-1/hero-media-image/custom-1.png"/>
                    <img alt="" class="device-animation"
                         data-class-name='device-animation'
                         data-rs-active='enterpriseAnimation'
                         data-rs-trigger-class='device-animation' srcset=
                            "data:image/jpg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAICAgICAgICAgIDAgICAwQDAgIDBAUEBAQEBAUGBQUFBQUFBgYHBwgHBwYJCQoKCQkMDAwMDAwMDAwMDAwMDAz/2wBDAQMDAwUEBQkGBgkNCgkKDQ8ODg4ODw8MDAwMDA8PDAwMDAwMDwwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAACAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACf/EABQQAQAAAAAAAAAAAAAAAAAAAAD/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AfwH/2Q==">
                </picture>
                <!--<img src="http://placehold.it/756x551"/>-->

            </div>

        </div>
    </div>
</section>

<!--group friendly section -->
<section class="section-enterprise">


    <div class="site-width core–cards">


        <div layout="row" flex>

            <div layout="column" flex="50">

                <div layout="row">
                    <div layout="column">


                        <h4 class="section-sub-heading border-yellow">Group Incentives</h4>

                        <h2>Group Incentives</h2>

                        <p class="font-large">Set your group up to get more value when getting smart pics.</p>

                        <p><a href="">
                            <md-button class="md-raised md-00c853">Group Offers
                            </md-button>
                        </a></p>
                      </div>

                    </div>

                  <div class="" layout="row">
                    <div layout="column">
                    <h4 class="section-sub-sub-heading">Incentive Options</h4>
                  </div>
                  </div>
                <div layout="row" class="core-cards" layout-padding>

                    <div layout="column" flex="50"
                         class="core-card core-card-related core-card-light-gray">
                        <a class="core-card-inner-group" href="#/for-groups">
                            <img class="product-logo"
                                 src="http://placehold.it/30x30"/>

                            <h3>Fund Payment</h3>

                            <p class="last">One way we work with groups, is providing a unique incetive called the <b>Group Fund Payment</b>.</p>
                            <img class="icon-arrow-related"
                                 src="http://placehold.it/15x15"/>
                        </a>

                    </div>

                    <div layout="column" flex="50"
                         class="core-card core-card-related core-card-light-gray">
                        <a class="core-card-inner-group" href="#/for-groups">
                            <img class="product-logo"
                                 src="http://placehold.it/30x30"/>

                            <h3>Direct Discount</h3>

                            <p class="last">A little more traditional and that we provide a <b>Group Member Direct Discount</b>.</p>
                            <img class="icon-arrow-related"
                                 src="http://placehold.it/15x15"/>
                        </a>

                    </div>

                </div> <!-- card row -->


            </div>

            <div layout="column" flex="10"></div>

            <div layout="column" flex="40">
                <picture>
                    <source media="(min-width:768px)"
                            srcset="../images-1/ga-ipad-1.png"/>
                    <img alt="" class="device-animation"
                         data-class-name='device-animation'
                         data-rs-active='enterpriseAnimation'
                         data-rs-trigger-class='device-animation' srcset=
                            "data:image/jpg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAICAgICAgICAgIDAgICAwQDAgIDBAUEBAQEBAUGBQUFBQUFBgYHBwgHBwYJCQoKCQkMDAwMDAwMDAwMDAwMDAz/2wBDAQMDAwUEBQkGBgkNCgkKDQ8ODg4ODw8MDAwMDA8PDAwMDAwMDwwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAACAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACf/EABQQAQAAAAAAAAAAAAAAAAAAAAD/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AfwH/2Q==">
                </picture>
                <!--<img src="http://placehold.it/756x551"/>-->
                <div layout="row" class="personal-services-row"
                     layout-align="center end" layout-fill>
                    <div class="enterprise-personalised-services">
                        <a class="personal-services-link" href="#">For
                            Custom/Persolized Services</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
<!--group friendly section end-->
</div>
